body {
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
    text-align: center;
}

h3 {
    margin: 2%;
    padding: 1%;
    text-align: center;
}

#home {
    background-color: gray;
    position: fixed;
    bottom: 3px;
    right: 3px;
    text-decoration: none;
    padding: .5%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}
#home a {
    text-decoration: none;
    color: white;
}

.intro {
    text-align: center;
    font-size: 20px;
}

.navbar {
    margin-top: 20px;
    width: 100%;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-style: italic;
    font-size: 17px;
    width: 29%;
    text-align: center;
    background-color: gray;
    margin-left: 1%;
    margin-bottom: 1%;
    border-radius: 50%;
  }

hr.rounded {
    border-top: 3px solid black;
    border-radius: 5px;
}

.wrapper {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
}
.wrapper div {
    height: 1000px;
    width: 96%;
    padding: 1%;
    overflow: auto;
    background-color: lightgray;
    margin: 1%;
    text-align: center;
}
.pictures {
    padding: 1%;
    width: 98%;
}

















.questions{
    border:black;
    margin: 10px;
    padding: 20px;
}

/*good visualizations*/
.box{
    display: flex;
    align-items: center;
    /* height: 500px; */
}
.box > div{
    flex-basis: 50%;
}

/*bad visualizations */
.bad1{
    display: flex;
    align-items: center;
}
.bad1 > div{
    flex-basis: 50%;
}

.bad2{
    display: flex;
    align-items: center;
}
.bad2 > div{
    flex-basis: 50%;
}


.bad3{
    display: flex;
    align-items: center;
}
.bad3 > div{
    flex-basis: 50%;
}

.redesign1{
    display:flex;
    align-items:center;
}
.redesign1 > div{
    flex-basis: 50%;
}

.redesign2{
    display:flex;
    align-items:center;
}
.redesign2 > div{
    flex-basis: 50%;
}

.redesign3{
    display:flex;
    align-items:center;
}
.redesign3 > div{
    flex-basis: 50%;
}