/* DEBUGGER's DREAM */
/* *{outline: 1px solid red;} */
/* SUPER TOGGLE */

body {
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
    text-align: center;
}

h3 {
    margin: 2%;
    padding: 1%;
    text-align: center;
}
p {
    text-align: left;
    line-height: 150%;
}
a {
    text-decoration: none;
}

.dropdown {
    display: inline-block;
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
    padding: .5%;
    border-radius: 50%;
    text-align: center;
}

.dropbtn {
    background-color: gray;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 40px;
    transition: transform 1s ease-in-out;
}
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: gray; */
    padding: 1px;
    border-radius: 5%;
    bottom: 100%;
    right: 5px;
}
.dropdown-content a {
    font-size: 14px;
    font-weight: bold;
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: black; */
    border-radius: 80%;
    height: fit-content;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
    background-color: gray;
}
#eight {
    font-style: italic;
    border-radius: 0%;
    background-color: black;
    text-align: center;
    transition: transform 1s ease-in-out;
}
#eight-names {
    display: none;
    position: absolute;
}
#eight-names p {
    font-size: 5vw;
    position: fixed;
    /* bottom: 5vh; */
    left: 20vw;
    right: 20vw;
    top: 25vh;
    background-color: gray;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    opacity: 50%;
    height: fit-content;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
}
#eight:hover {
    cursor: no-drop;
    transform: rotate(720deg);
}
#eight:hover + #eight-names {
    font-size: 50px;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    /* background-color: gray; */
    transform: rotateX(540deg);
}

.intro {
    text-align: center;
    font-size: 20px;
}

.navbar {
    margin-top: 20px;
    width: 100%;
    overflow: auto;
}
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-style: italic;
    font-size: 17px;
    width: 28%;
    text-align: center;
    background-color: gray;
    margin: 1%;
    border-radius: 50%;
}
.navbar div {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-style: italic;
    font-size: 17px;
    width: 28%;
    text-align: center;
    background-color: gray;
    margin: 1%;
    border-radius: 50%;
}
.navbar a:hover {
    background-color: black;
    transition-duration: 0.5s;
}

hr.rounded {
    border-top: 3px solid black;
    border-radius: 5px;
}

.wrapper {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
}
#triplets {
    grid-template-columns: 33.33% 33.33% 33.33%;
}
/* #singlewrap {
    grid-template-columns: 100%;
} */
.wrapper div {
    height: 75vh;
    width: 96%;
    padding: 1%;
    overflow: auto;
    background-color: lightgray;
    margin: 1%;
    text-align: center;
}
/* #singlewrap .critique {
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-color: darkgray;
    height: 250px;
} */
.pictures {
    padding: 1%;
    width: 98%;
}

#critique {
    height: 50px;
    overflow: hidden;
}
.dropdown2 {
    /* position: relative; */
    display: inline-block;
}
#link > p {
    background-color: black;
    border-radius: 50%;
    text-align: center;
    width: 50%;
    color: white;
    margin-left: 25%;
}
.dropdown2 p {
    background-color: black;
    border-radius: 50%;
    text-align: center;
    color: white;
}
.dropdown2 p:hover {
    cursor: pointer;
}
.dropdown-content-left {
    display: none;
    position: absolute;
}
.dropdown2:hover .dropdown-content-left {
    display: inline-block;
    width: 40vw;
    height: 30vw;
    left: 50vw;
}
.dropdown-content-right {
    display: none;
    position: absolute;
}
.dropdown2:hover .dropdown-content-right {
    display: inline-block;
    width: 40vw;
    height: 30vw;
    left: 50vw;
}

#vd {
    margin: 1%;
    width: 98%;
}

video {
    padding: 1%;
    width: 98%;
}